openapi: 3.1.0
info:
  title: Soundstripe Categories Supe Assets API
  version: '1'
  description: Server-to-server REST API for the Soundstripe royalty-free music, sound-effects, and AI music supervisor catalog. Responses follow the JSON:API specification. Authentication is token-based via the `Authorization` header. The API rate limit is 25 requests per second per API key; exceeding it returns HTTP 429.
  contact:
    name: Soundstripe API
    url: https://docs.soundstripe.com
  license:
    name: Soundstripe API Terms of Use
    url: https://docs.soundstripe.com/docs/api-terms-of-use
servers:
- url: https://api.soundstripe.com
  description: Production
security:
- TokenAuth: []
tags:
- name: Supe Assets
  description: Reference image and video uploads consumed by Supe Search.
paths:
  /v1/supe/assets:
    post:
      operationId: uploadAsset
      summary: Upload an Asset
      description: 'Upload a single reference image or video to be referenced by a later Supe search. Multipart form-data with a required `file` field and optional `content_type` override. Image: JPEG/PNG/WebP, max 20 MB, max 4096 px per axis. Video: MP4/QuickTime/WebM, max 500 MB, max 10 minutes. Processing is asynchronous; the response is 202 with a `pending` asset.'
      tags:
      - Supe Assets
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                content_type:
                  type: string
      responses:
        '202':
          $ref: '#/components/responses/JsonApi'
  /v1/supe/assets/{asset_id}:
    get:
      operationId: retrieveAsset
      summary: Retrieve an Asset
      description: Retrieve the processing state of a previously uploaded asset. Assets are scoped to the requesting API key; references from other keys look like 404.
      tags:
      - Supe Assets
      parameters:
      - name: asset_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/JsonApi'
components:
  responses:
    JsonApi:
      description: JSON:API response.
      content:
        application/vnd.api+json:
          schema:
            type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication. Send `Authorization: Token <api-key>`. Keys are privileged — server-to-server use only, never from client-side code.'
