openapi: 3.1.0
info:
  title: Soundstripe Categories Songs API
  version: '1'
  description: Server-to-server REST API for the Soundstripe royalty-free music, sound-effects, and AI music supervisor catalog. Responses follow the JSON:API specification. Authentication is token-based via the `Authorization` header. The API rate limit is 25 requests per second per API key; exceeding it returns HTTP 429.
  contact:
    name: Soundstripe API
    url: https://docs.soundstripe.com
  license:
    name: Soundstripe API Terms of Use
    url: https://docs.soundstripe.com/docs/api-terms-of-use
servers:
- url: https://api.soundstripe.com
  description: Production
security:
- TokenAuth: []
tags:
- name: Songs
  description: Catalog song retrieval with artists and audio files.
paths:
  /v1/songs/{song_id}:
    get:
      operationId: retrieveSong
      summary: Retrieve a Song
      description: Retrieve a song with its primary artist and primary audio file relationships.
      tags:
      - Songs
      parameters:
      - $ref: '#/components/parameters/SongId'
      responses:
        '200':
          $ref: '#/components/responses/JsonApi'
components:
  parameters:
    SongId:
      name: song_id
      in: path
      required: true
      description: The song's ID.
      schema:
        type: string
  responses:
    JsonApi:
      description: JSON:API response.
      content:
        application/vnd.api+json:
          schema:
            type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication. Send `Authorization: Token <api-key>`. Keys are privileged — server-to-server use only, never from client-side code.'
