openapi: 3.1.0
info:
  title: Soundstripe Categories Playlists API
  version: '1'
  description: Server-to-server REST API for the Soundstripe royalty-free music, sound-effects, and AI music supervisor catalog. Responses follow the JSON:API specification. Authentication is token-based via the `Authorization` header. The API rate limit is 25 requests per second per API key; exceeding it returns HTTP 429.
  contact:
    name: Soundstripe API
    url: https://docs.soundstripe.com
  license:
    name: Soundstripe API Terms of Use
    url: https://docs.soundstripe.com/docs/api-terms-of-use
servers:
- url: https://api.soundstripe.com
  description: Production
security:
- TokenAuth: []
tags:
- name: Playlists
  description: Soundstripe-curated playlists and their categories.
paths:
  /v1/playlist_categories:
    get:
      operationId: listPlaylistCategories
      summary: List Playlist Categories
      tags:
      - Playlists
      responses:
        '200':
          $ref: '#/components/responses/JsonApi'
  /v1/playlists:
    get:
      operationId: listPlaylists
      summary: List Playlists
      description: List Soundstripe-curated playlists.
      tags:
      - Playlists
      parameters:
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          $ref: '#/components/responses/JsonApi'
  /v1/playlists/{playlist_id}:
    get:
      operationId: retrievePlaylist
      summary: Retrieve a Playlist
      description: Retrieve a curated playlist, optionally including its songs and audio files via the `include` parameter.
      tags:
      - Playlists
      parameters:
      - $ref: '#/components/parameters/PlaylistId'
      responses:
        '200':
          $ref: '#/components/responses/JsonApi'
components:
  parameters:
    PageSize:
      name: page[size]
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
    PageNumber:
      name: page[number]
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
    PlaylistId:
      name: playlist_id
      in: path
      required: true
      description: The playlist's ID.
      schema:
        type: string
  responses:
    JsonApi:
      description: JSON:API response.
      content:
        application/vnd.api+json:
          schema:
            type: object
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token authentication. Send `Authorization: Token <api-key>`. Keys are privileged — server-to-server use only, never from client-side code.'
